@font-face {
    font-family: varela-round-regular;
    src: url('../fonts/VarelaRound-Regular.ttf');
}

@font-face {
    font-family: din-round;
    src: url('../fonts/dio-round.woff2');
}

* {
    font-family: din-round, 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.toolbar {
    height: 60px;
    background-color: #58cc02;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    font-family: din-round, sans-serif;
    font-weight: bold;
    padding: 10px;
}

.toolbar .profile {
    box-shadow: 0px 0px 2px 2px white;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    opacity: .9;
    transition: .3s;
    height: 60px;
}

.toolbar-logo {
    height: 60px;
}

.toolbar-title {
    margin-top: 10px;
}

.toolbar .profile:hover {
    opacity: 1;
    cursor: pointer;
    height: 64px;
}

.text-input {
    font-size: 20px;
    padding-left: 10px;
    height: 40px;
    border-radius: 6px;
    border: solid 1px #aaa;
    text-transform: uppercase;
}

.text-input:focus {
    border: solid 1px rgb(0, 123, 255);
}

.text-box {
    margin: 10px 0;
}

.warn-box, .error-box, .success-box {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}


.warn-box {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.error-box {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.success-box {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#userDoesntWxistsWarn {
    display: none;
}

#questionScreen,
#feedbackScreen {
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 10px;
    height: 400px;
    width: 600px;
    box-shadow: 2px 2px 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#feedbackScreen {
    justify-content: center;
    display: none;
}

#gradeText {
    font-size: 50px;
    text-transform: uppercase;
}

#gradeNumber {
    font-size: 50px;
}

.txt-answer {
    height: 40px;
    width: 300px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-bottom: solid 2px black;
    text-align: center;
}

.txt-answer:focus {
    border: none;
    border-bottom: solid 3px black;
}

input:focus {
    border: none;
    outline: none;
}

#btnCheck {
    background-color: #49C0F8;
    color: white;
    width: 200px;
    height: 60px;
    font-size: 24px;
    padding: 2px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 300ms;
}

#btnCheck:hover {
    opacity: .8;
    cursor: pointer;
}

.message-box {
    height: 60px;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
}

.error-message {
    font-size: 50px;
    width: 0;
    height: 0;
    transition: 300ms;
    color: white;
    background-color: #ff3333;
    text-align: center;
}

.success-message {
    font-size: 50px;
    width: 0;
    height: 0;
    transition: 300ms;
    color: white;
    background-color: #00ff00;
    text-align: center;
}

.terrible-text {
    color: #f00;
}

.bad-text {
    color: #f80;
}

.regular-text {
    color: #ff0;
}

.good-text {
    color: #0f0;
}

.great-text {
    color: #0ff;
}

.excelent-text {
    color: #00f;
}

.btn {
    font-size: 30px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    transition: 300ms;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

.btn:before {
    content: "";
    display: flex;
    opacity: 0;
    transition: all .7s;
    box-shadow: 0px 30px 10px 40px white;
}

.btn:active:before {
    box-shadow: 0 0 0 0 white;
    opacity: 1;
    transition: 0s;
}

.btn:disabled {
    background-color: #ccc;
    opacity: 1;
    cursor: default;
}

.btn:disabled:before {
    opacity: 0;
}

.btn-primary {
    color: #fff;
    background-color: rgb(0, 123, 255);
}

.btn-success {
    color: #fff;
    background-color: #58cc02;
}

#divAvatarsList img {
    border-radius: 50%;
    height: 70px;
    cursor: pointer;
    box-shadow: 2px 2px 6px 3px grey;
    transition: 300ms;
    margin: 10px;
}

#divAvatarsList img:hover {
    opacity: .9;
}

#divAvatarsList img.selected {
    box-shadow: 2px 2px 6px 3px #77D649;
}

#lkChangeMode {
    margin-top: 10px;
}

.menu-box {
    width: 100px;
    text-align: center;
}

.menu-box:hover .menu {
    opacity: 1;
    height: 80px;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.menu {
    top: 80px;
    right: 20px;
    width: 200px;
    height: 0;
    position: fixed;
    opacity: 0;
    transition: .3s;
    overflow: hidden;
}

.menu .menu-action {
    width: 100%;
    border: none;
    background-color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 6px;
    transition: .3s;
}

.menu .menu-action:hover {
    background-color: #eee;
    cursor: pointer;
}

.menu .menu-line {
    border: 1px solid #ddd;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutFadeIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in-effect {
    animation: fadeIn .6s;
}

.fade-out-fade-in-effect {
    animation: fadeOutFadeIn .6s;
}

#divLoginAccount {
    opacity: 0;
}